@media (max-width: 1850px) {
  /* ------ page_contact -------- */
  .contact__wrapper::after {
    display: none;
  }
}
@media (max-width: 1766px) {
  /* ------ page-prices -------- */
  .prices__item::after,
  .prices__item::before {
    display: none;
  }
}
@media (max-width: 1750px) {
  /* ------ page_contact -------- */
  .contact__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .contact__deal {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
    gap: 20px;
  }
	.contact__deal-left {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		margin: 40px 0 60px;
	}
	.email {
    margin-top: 50px;
	}
  .contact__item-right {
    padding: 0 20px;
  }

	.contact__list--mobile {
		display: block;
	}

	.contact__list--desktop {
		display: none;
	}

	.contact__item ol li {
		font-size: 24px;
	}
}
@media (max-width: 1730px) {
  /* ------ page-prices -------- */
  .ru .prices__box-2 {
    padding: 0 0 130px 0;
  }
}
@media (max-width: 1730px) {
  .header__name {
    font-size: 50px;
  }
}
@media (max-width: 1560px) {
  /* -------- header -------- */
  .header__body {
    gap: 30px;
  }
  .header__logo {
    justify-content: flex-start;
  }
  .header__name {
    font-size: 40px;
  }
  .header__link {
    font-size: 24px;
  }
}
@media (max-width: 1560px) {

}
@media (max-width: 1500px) {
  .slick-home_info p {
    font-size: 28px;
  }
}
@media (max-width: 1440px) {
  .prices__box h2 {
    font-size: 33px;
  }
}
@media (max-width: 1355px) {
  .prices__item {
    flex-wrap: wrap;
  }
}
@media (max-width: 1300px) {
	.header__name {
    font-size: 35px;
  }
  .header__list li + li {
    margin-left: 20px;
  }
}
@media (max-width: 1210px) {
  /* -------- header -------- */
	.header__link {
		font-size: 20px;
	}

	.header__name {
		font-size: 28px;
}

}
@media (max-width: 1170px) {
  .slick-home_info p {
    font-size: 24px;
  }
}
@media (max-width: 1090px) {
  .slick-home_info p {
    font-size: 24px;
  }

	.header__link {
		font-size: 18px;
	}
}
@media (max-width: 1030px) {
  .slick-home_info p {
    font-size: 20px;
  }
  .home-slider .slick-home__slid_1 .img-1 {
    left: -80px;
  } /* -------- header -------- */
  .header__name {
    display: none;
  } /* -------- page_about-me -------- */

	.about-me__img {
		flex: 0 0 38%;
	}

  .about-me__wraper {
		gap: 26px;
  }

	.container__box {
		flex-wrap: wrap;
	}

	.motion .container__wrapper .container__item {
		flex: 0 1 calc(50% - 25px);
		padding: 0 0 26% 0;
	}


}
@media (max-width: 875px) {
  /* -------- header -------- */
  .header__list li + li {
    margin-left: 60px;
  }
  .slick-home_info p {
    font-size: 18px;
  }

	.header__list li + li {
		margin-left: 24px;
}
}
@media (max-width: 767px) {
	.about-me__wraper {
    flex-direction: column;
    align-items: center;
		gap: 34px;
	}

  .page_motion {
    position: absolute;
    width: 100%;
    height: 35%;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .page_motion_2 {
    bottom: 0;
    top: auto;
  }
  .page_motion_4,
  .page_motion_3 {
    width: 42%;
    height: 100%;
  }
  .page_motion_4 {
    left: auto;
    right: 0;
  }
  .visualization .home__slick {
    max-height: 320px;
  }
  body.lock {
    overflow: hidden;
  }
  .slick-dots {
    opacity: 1;
  }
  .img-ux-ui-desc {
    display: none;
  }
  .img-ux-ui-mob {
    display: block;
  }
  .video-des {
    display: none;
  }
  .video-fon {
    display: block;
  }
  /* -------- HEADER -------- */
  .header__body {
    position: fixed;
    background-color: #000000;
    height: 88px;
    left: 0;
    top: 0;
  }
  .header__name {
    display: block;
    text-align: center;
    font-size: 30px;
    position: relative;
    z-index: 1;
  }
  .header__logo {
    width: 90px;
    height: 88px;
  }
  .header__logo img {
    width: 100%;
    display: block;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 49px;
    height: 24px;
    z-index: 3;
    margin-left: 20px;
  }
	.header__link {
		font-size: 20px;
}
  .header__body {
    gap: 0;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    top: 50%;
    transform: translateY(-50%);
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 50%;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    padding: 90px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 88px;
  }
  .header__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .header__list li,
  .header__list li + li {
    margin: 0 0 50px 0;
  }
  .header__list li:nth-child(4) {
    margin-top: 80px;
  }
  .slick-home {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
  } /* ------ page_about-me -------- */
  .about-me__wraper,
  .home,
  .motion,
  .prices__wrapper,
  .contact__wrapper {
    padding-top: 88px;
  } /* -------- page-prices -------- */
  .prices__box h2,
  .prices__box table {
    margin: 0;
  }
  .mob-ru .mCSB_inside > .mCSB_container {
    margin-right: 5px !important;
  }
  .gig-page-packages-table {
    margin-top: 20px;
  }
  #wm-widget {
    flex-direction: column;
    align-items: center;
  }
  .container__box {
    flex-wrap: wrap;
  }
  .home-slider .slick-home_info-box {
    height: 30%;
  }
  .home__wrapper {
    height: auto;
  }
  .home-slider .home__wrapper .slick-slider {
    margin: 0;
  }
  .slick-home_info {
    height: 30%;
  }
  .slick-home_info img {
    object-fit: cover;
  }
  .home-slider .slick-home__slid_1 .img-1 {
    object-fit: cover;
    overflow: auto;
    left: 0;
  }
  .slick-home_info p {
    font-size: 20px;
  }
  .home-slider__page .slick-home {
    display: block;
  }
  .home-slider__page .slick-home__slider {
    margin: 10px auto 10px !important;
  }
  .motion .container__wrapper .container__item {
    height: 249px;
    flex: auto;
  }
  main {
    padding-bottom: 55px;
  }
  .footer__wrapper {
    padding: 7px 0;
  }
  /* ------ page_contact -------- */
  .form {
    margin-top: 150px;
  }

	.contact__deal-right {
		display: block;
	}

	.contact__deal-right .slick-dots {
		display: flex;
    gap: 7px;
		margin-top: 20px;
	}

	.contact__deal-right-img {
		display: flex !important;
		justify-content: center;

	}

	.contact__deal-right-img img {
		aspect-ratio: 206/416;
		width: 50vw;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}
@media (max-width: 620px) {
  .slick-home__slider p {
    bottom: 11%;
  }
}
@media (max-width: 575px) {
  /* ------ page_about-me -------- */
  .about-me__wraper {
    gap: 20px;
  }
  .about-me__item {
    margin-top: 10px;
  } /* -------- page-prices -------- */
  .prices__info p {
    font-size: 10px;
  }
  .ru .prices__box table td,
  .ru .prices__box table th,
  .gig-page-packages-table tr .package-row-label {
    padding: 5px 5px !important;
  }
  .ru .distance-2,
  .ru .distance-3 {
    position: static;
  }
  .ru .prices__box-2 {
    padding: 0;
  } /* -------- page_contact -------- */
  .contact__info p {
    font-size: 18px;
  }
  .email p {
    font-size: 24px;
  }
  .form__wrapper form {
    gap: 0;
    padding: 0 10px;
    flex-wrap: wrap;
  }
  .form__item input {
    width: 91%;
  }
  .form__item textarea {
    max-width: 100%;
  }
  .btn__submit {
    margin: 20px auto;
  }
}
@media (max-width: 520px) {
  /* ------ page_home -------- */
  .home__slick p {
    font-size: 24px;
  } /* -------- page_contact -------- */
  .contact__item ol {
    margin: 30px 0 0 24px;
  }
}
@media (max-width: 490px) {
  .visualization .slick-slide img {
    max-height: 220px;
  }
  .slick-home__slider p {
    bottom: 8%;
  }
  .home-slider__page .slick-home_info {
    height: 211px;
  }
  .home-slider__page .slick-home_info p {
    bottom: 5px;
  }
  .home__wrapper .slick-dots {
    bottom: 36px;
  }
  .motion .container__wrapper .container__item {
    height: 200px;
  }
}
@media (max-width: 450px) {
  .gig-page-packages-table .package-type .price,
  .gig-page-packages-table .package-type .type,
  .gig-page-packages-table .package-type .title,
  .ru .prices__box table tbody td,
  .ru .prices__box table tfoot td,
  .tbody-5,
  .tbody-default,
  .text-body-default {
    font-size: 10px;
  }
}
@media (max-width: 410px) {
  .slick-home_info p {
    font-size: 18px;
  }
  .home__wrapper .slick-dots {
    gap: 10px;
  }
  .slick-dots li {
    width: 10px;
    height: 10px;
  } /* -------- page-prices -------- */
  .prices__box h2 {
    font-size: 24px;
  }
  .prices__box table td,
  .prices__box table th {
    padding: 3px 5px;
  }
  .prices__box table tbody th,
  .prices__box table thead th,
  .prices__box table tfoot th,
  .prices__box table tbody td,
  .prices__box table tfoot td {
    font-size: 8px;
  } /* -------- page_contact -------- */
  .contact__info p {
    font-size: 14px;
  }
  .email p {
    font-size: 18px;
  }
}
@media (max-width: 365px) {
  /* ------ page_home -------- */
  .home__slick p {
    font-size: 18px;
  }
  .motion .container__wrapper .container__item {
    height: 140px;
  }
}
@media (max-width: 360px) {
  /* ------ page_prices -------- */
  .gig-page-packages-table .package-type .price,
  .gig-page-packages-table .package-type .type,
  .gig-page-packages-table .package-type .title,
  .ru .prices__box table tbody td,
  .ru .prices__box table tfoot td,
  .tbody-5,
  .tbody-default,
  .text-body-default {
    font-size: 7px;
  }
  .gig-page-packages-table .package-type .type {
    padding-bottom: 5px;
  }
  .gig-page-packages-table .package-type .price-wrapper {
    padding-bottom: 0px;
  }
}
@media (max-width: 320px) {
  .visualization .home__slick {
    max-height: 170px;
  }
}
@media (max-width: 300px) {
  .slick-home {
    row-gap: 10px;
  } /* ------ page_contact -------- */
  #wm-widget {
    width: 97% !important;
  }
}
